@import 'variables';
@import 'mixins';

* { box-sizing: border-box; }
html,body { height: 100%; }
body {
  font-family: $ff-sans;
  color: $dark;
  background: #fff;
  line-height: 1.5;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

.container { @include container; }

a { color: $primary; text-decoration: none; }
a:focus { outline: 3px solid $accent; outline-offset: 3px; }

.skip-link {
  position: absolute;
  top: -40px; left: 0;
}
.skip-link:focus { top: 0; }
